@model PatientHandlingSystem.ViewModels.EquipmentViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Update Current Equipment Values</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Equipment.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Equipment.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Equipment.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Equipment.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @for (int i = 0; i < Model.CompleteEquipmentAttributes.Count; i++)
        {
        <div class='form-group'>
            @Html.LabelFor(model => model.CompleteEquipmentAttributes[i].EquipmentAttribute, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
            <div class='col-md-3'>
                @Html.HiddenFor(model => model.CompleteEquipmentAttributes[i].EquipmentAttribute.ID)
                @Html.HiddenFor(model => model.CompleteEquipmentAttributes[i].EquipmentAttribute.EquipmentID)
                @Html.EditorFor(model => model.CompleteEquipmentAttributes[i].EquipmentAttribute.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompleteEquipmentAttributes[i].EquipmentAttribute.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class='form-group'>
            @Html.Label("Attribute Value", htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-2" })
            <div class='col-md-6'>
                @Html.DropDownListFor(model => model.CompleteEquipmentAttributes[i].EquipmentAttribute.CurrentEquipmentAttributeValueID, Model.CompleteEquipmentAttributes[i].EquipmentAttributeValuesSelectList, htmlAttributes: new { @class = "form-control" } )
            </div>
        </div>        
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
