@model PatientHandlingSystem.ViewModels.AttributeViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Attribute</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Numeric, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 checkbox">
                @Html.CheckBoxFor(model => model.Numeric)
            </div>
        </div>
        <div class="form-group" id="attributeName">
            @Html.LabelFor(model => model.AttributeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttributeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttributeName, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AttributeValues, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AttributeValues, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AttributeValues, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="form-group"  id="attributeValues">
            <div class=" col-md-offset-3 col-md-9">
                <button class="btn btn-info" id="addAttribute">Add Attribute Value</button> <button class="btn btn-info" id="removeAttribute">Remove Attribute Value</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        var count = 1;
        $("#addAttribute").click(function (e) {
            e.preventDefault();
            $("#attributeValues").before("<div class='form-group'><label class='control-label col-md-2' for='AttributeValues'>Attribute Value</label><div class='col-md-10'><input class='form-control text-box single line' id='AttributeValues_"+count+"_' name='AttributeValues["+count+"]' type='text' value='' /><span class='field-validation-valid text-danger' data-valmsg-for='AttributeValues' data-valmsg-replace='true'></span></div></div>");
            count++;
        })
        $("#removeAttribute").click(function (e) {
            e.preventDefault();
            $("#attributeValues").prev().remove();
        })
        $("#Numeric").click(function (e) {
            if($(this).is(":checked")){
                console.log("Numeric checked");
                $("#attributeName").nextUntil("#attributeValues").add("#attributeValues").hide();
            }
            else {
                console.log("Numeric unchecked");
                $("#attributeName").nextUntil("#attributeValues").add("#attributeValues").show();
            }
        })

});
</script>