@model PatientHandlingSystem.ViewModels.TreeEditorViewModel

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<h2 class="text-center">Create Tree</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @using (Ajax.BeginForm("UpdateTree", "Trees", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "treeDiv" }))
            {
                <div class="container">
                    <div class="row" id="selectionDiv">
                        <div class="col-md-12" style="font-weight:bold;">
                            @Html.RadioButtonFor(i => i.NodeType, "Solution", new { @class = "solutionTab" }) Solution
                            @Html.RadioButtonFor(i => i.NodeType, "PatientAttribute", new { @class = "attributeTab" }) Attribute
                        </div>
                    </div>
                    <div class="row attribute top-buffer">
                        <div class="col-md-12">
                            @Html.HiddenFor(i => i.Tree.ID)
                            @Html.DropDownListFor(i => Model.SelectedAttribute.ID, new SelectList(Model.Attributes, "ID", "Name"), htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row numericInput top-buffer">
                        <div class="col-md-12">
                            @Html.EditorFor(i => Model.SelectedAttributeNumericValue.Value, new { htmlAttributes = new { @class = "numericInput form-control" } })
                        </div>
                    </div>
                    <div class="row attribute top-buffer">
                        <div class="col-md-12">
                            <button class="btn btn-default" id="button">Insert Node</button>
                        </div>
                    </div>

                    @*the solution panel*@
                    <div class="row solution top-buffer">
                        <div class="col-md-12 form-group">
                            @Html.EditorFor(i => i.SolutionTitle, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row solution top-buffer">
                        <div class="col-md-12 form-group">
                            @Html.TextAreaFor(i => i.Solution, new { @rows = "20", @placeholder = "Enter solution", @class = "form-control", style = "" })
                        </div>
                    </div>
                    <div class="row solution">
                        <div class="col-md-12">
                            <input type="submit" value="Insert Solution" class="btn btn-default">
                        </div>
                    </div>

                    @*the delete node button*@
                    <div class="row top-buffer">
                        <div class="col-md-12">
                            <button class="btn btn-danger" id="button" name="deleteButton" value="true">Delete</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="treeDiv" class="col-md-9">
            @Html.Partial("_Tree", Model.Nodes)
        </div>
    </div>
</div>

    <script>
        $(document).ready(function () {
            //show or hide the attribute or solution tab depending on the radio button that is selected
            $(".solution").hide();
            $("#selectionDiv").click(function () {
                if ($(".attributeTab").is(":checked")) {
                    $(".attribute").show();
                    $(".solution").hide();
                    //console.log("attribute");
                }
                if ($(".solutionTab").is(":checked")) {
                    $(".solution").show();
                    $(".attribute").hide();
                    $(".numericInput").hide();
                    //console.log("solution");
                }
            });

        //add all numeric ids to an array
            var numericIds = [];
            @foreach (var a in Model.Attributes)
            {
                if(a.Numeric)
                {
                    @:numericIds.push(@a.ID);
                }
            }


            $(".numericInput").hide();

        //when a different dropdownlist selection is made, check to see if it is a numeric attribute, and if it is, display the numeric input box
            $("#SelectedAttribute_ID").change(function () {
                var numericAttribute = false;
                for (var i = 0; i < numericIds.length; i++) {
                    if (numericIds[i] == $(this).val()) {
                        console.log("numeric");
                        $(".numericInput").show();
                        $(this).after("<input id='SelectedAttribute_Numeric' name='SelectedAttribute.Numeric' type='hidden' value='true' />");
                        numericAttribute = true;
                    }
                }
                    if(numericAttribute == false) {
                        $(".numericInput").hide();
                        $("#SelectedAttribute_Numeric").remove();
                    }
                
            });

        //enter and post the tree name
            var tree_Name = prompt("Enter tree name");
            $.post("/Trees/AddTreeName", { "treeName": tree_Name });
        });
    </script>
